*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

main {
	min-height: 100vh;
	background: linear-gradient(to right top, #a2ccd8,#ade);
	display: flex;
	justify-content: center;
}

	/*CIRCLE*/
/*.circle1 {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: red;
	z-index: 1;
	margin-top: -1200px;
}*/


	/*HEADER*/
#header {
	/*width: 1100px;*/
	height: 228px;
	padding: 0 12px;
	margin: 60px 0 20px 0;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-radius: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	/*USER - LEFT*/
#header .intro__user {
	width: 418px;
	height: 184px;
	display: flex;
	padding-right: 0 30px 0 30px;
	justify-content: center;
	align-items: center;
	/*border-right: 1px solid rgb(148, 146, 146);*/
}

#header .intro__user::after {
    content: '';
    background-color: #c2c4c5;
    position: absolute;
    top: 14%;
    right: 50%;
    bottom: 0;
    height: 25%;
    width: 1px;
}

#header .intro__user-image {
	height: 160px;
	width: 160px;
	border-radius: 30px;
	box-shadow: 0px 4px 7px rgb(0 0 0 / 45%);
	margin-left: 40px;
}

#header .intro__user-right {
	margin-left: 24px;
}

#header .intro__user-right-name {
	  font-size: 26px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(46, 54, 63);
}

#header .intro__user-job {
	color: rgb(148, 146, 146);
	font-weight: bold;
	margin-left: 15px;
	margin-top: -10px;
}

.intro__user-social {
	display: inline-flex;
}

.intro__user-social .icon {
	margin: 35px 10px 0 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	color: #000;
}

.intro__user-social .icon span {
	height: 40px;
	width: 40px;
	/*display: block;*/
	background: #fff;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	line-height: 40px;
	z-index: 2;
}

.intro__user-social .icon .tooltip {
	position: absolute;
	top: 0px;
	background: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 4px 6px;
	border-radius: 25px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.intro__user-social .icon:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	top: -35px;
}

.intro__user-social .icon .tooltip::before {
	position: absolute;
	content: "";
	height: 6px;
	width: 6px;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}

#header .intro__user-social .FB:hover,
.intro__user-social .icon:hover .FB,
.intro__user-social .icon:hover .FB::before {
	background-color: #3B5998;
	color: white;
}

#header .intro__user-social .IG:hover,
.intro__user-social .icon:hover .IG,
.intro__user-social .icon:hover .IG::before {
    background-color: #e1306c ;
    color: white;
}

#header .intro__user-social .TT:hover,
.intro__user-social .icon:hover .TT,
.intro__user-social .icon:hover .TT::before {
	background-color: #000000;
	color: white;
}

#header .intro__user-social .GIT:hover,
.intro__user-social .icon:hover .GIT,
.intro__user-social .icon:hover .GIT::before {
	background-color: #333;
	color: white;
}

		/*CONTACT - RIGHT*/
#header .intro__contact {
	display: flex;
}

#header .intro__contact-list {
	padding-right: 40px;
}

#header .intro__contact-item {
	list-style: none;
	padding-left: 40px;
	margin-bottom: 1.2rem;
    color: rgb(65, 64, 64);

}

#header .intro__contact-item span {
	color: rgb(148, 146, 146);
	font-size: 14px;
	font-weight: bold;
}

#header .intro__contact-item p {
	padding-top: 4px;
}

	/*CONTENT*/
.content {
	/*width: 1100px;*/
	height: auto;
	display: flex;
	box-sizing: border-box;
}

.colum-2 {
	min-width: 168px;
	height: 510px;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-radius: 35px;
	margin-right: 25px;
	opacity: 0.9;
}

.colum-10 {
	width: 910px;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-radius: 35px;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.content .options {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content .option {
	text-align: center;
}

.content .option .option__item {
	width: 100px;
	height: 100px;
	background-color: rgba(235, 240, 243, 1.0);
	list-style: none;
	border-radius: 1rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Fira Sans, sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.content .option .option__item:hover {
	background-image: linear-gradient( 
	142.17deg,rgba(79, 147, 241, 0.3) 6.66%,rgba(222, 48, 253, 0.3) 91.48%);
}

.content .option .option__item lord-icon {
	width:65px;
	height:65px;
}

.content .option__item.active {
	    background-image: linear-gradient( 
142.17deg,#4f93f1 6.66%,#de30fd 91.48%);
	    box-shadow: inset -0.25rem -0.25rem 0.3125rem rgb(0 0 0 / 10%), inset 0.25rem 0.25rem 0.3125rem rgb(255 255 255 / 23%);
}

	/*Bản thân*/
.content .content__list {
	width: 100%;
	height: auto;
	padding: 30px ;
	box-sizing: border-box;
	display: none;
}

.content .content__list.active {
	display: block; //Show content
}

.content .content__list .content-item {
	list-style: none;
	margin-bottom: 20px;
}

.content .content-item .content-item-title {
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 25px;
	font-family: 'Fira Sans', sans-serif;
}

.content-underline-title {
		height: 5px;
    width: 10%;
    background-image: linear-gradient(142.17deg,#cc2dc4 6.66%,#cead1c 91.48%);
    margin-top: -25px;
    margin-bottom: 25px;
    left: 26%;
    border-radius: 25px;
}

/*.content .content-item .content-item-title::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 7%;
    background-image: linear-gradient( 
142.17deg,#cc2dc4 6.66%,#cead1c 91.48%);
    top: 61%;
    left: 26%;
    border-radius: 25px;
}
*/
.content .content-item .content-item-text {
	color: rgba(47, 047, 47, 0.9);
	margin-top: 10px;
	text-align: left;
	padding-left: 0;
	/*font-family: 'Roboto Slab', serif;*/

}

.content .content-item .content-item-title--slide,
.content .content-item .content-item-title--body {
	font-size: 25px;
	font-weight: bold;
	padding: 20px 0 30px 0;
}

/*.content .content-item .content-item-title--body::after {
	position: absolute;
    content: '';
    height: 3px;
    width: 9%;
    background-image: linear-gradient(142.17deg,#cc2daa 6.66%,#1cce75 91.48%);
    top: 92%;
    left: 26%;
    border-radius: 25px;
}*/

.content .content-item .content-underline {
		height: 3px;
    width: 20%;
    background-image: linear-gradient(142.17deg,#cc2daa 6.66%,#1cce75 91.48%);
    margin-top: -25px;
}

.content .content-item .row {
	display: flex;
	justify-content: space-evenly;
}

.content .content-item .colum-6 {
	width: 40%;
	height: 200px;
	background-color: red;
	margin: 25px;
	border-radius: 25px;
}

.content .content-item .colum-6:hover {
	-webkit-transform:scale(1.1); /*Webkit: Tăng kích cỡ ảnh lên 1.1 lần*/
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	box-shadow:0px 0px 30px gray; /*Đổ bóng bằng CSS3*/
	-webkit-box-shadow:0px 0px 30px gray;
	-moz-box-shadow:0px 0px 30px gray;
	opacity: 0.8; /*Độ mờ của hình ảnh*/
}

.content .content-item .content-item-img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 1.2rem;
}


			/*HỌC VẤN*/
.content .content-item .content-item-subtitle {
	display: flex;
}

.content .content__list .education__title-icon {
	font-size: 40px;
	font-weight: bold;
	padding-right: 10px;
	padding-top: 10px;
	color: #2F86A6;
}

.content .content-item .content-item-line {
	position: relative;
}

.content .content-item .content-item-line::before {
	content: "";
    background-color: rgba(197, 197, 197, 0.8);
    height: 113px;
    width: 0.6px;
    position: absolute;
    left: 10px;
    top: 4px;
}

.content .content__list .content-item-title-subitem {
	font-weight: bold;
	padding-left: 30px;
	position: relative;
	color: rgb(47, 49, 59);
    padding-bottom: 3px;
    position: relative;
}

.content .content__list .content-item-title-subitem::before {
	content: '';
    background-color: #304CFD;
    box-shadow: 0 0 0 0.1875rem rgb(48 76 253 / 25%);
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 6px;
    height: 0.625rem;
    width: 0.625rem;
}

.content .content__list span {
	padding-left: 30px;
    color: rgba(47, 47, 47, 0.8);
    font-size: 15.7;
}

.content .content__list .content-item-para {
	padding: 0 0 20px 30px;
	width: 100%;
	color: rgb(47, 47, 47);
	margin-top: 10px;
}

		/*KỸ NĂNG CỦA TÔI*/
.content .content-item .container__skill {
	width: 100%;
	height: 305px;
	border: 3px solid #fff;
	border-radius: 25px;
}

.content .content-item .container__skill-all {
	padding: 20px;
	height: 180px;
}

.content .content-item .container__skill-progress {
	width: 100%;
	height: 25px;
	margin-bottom: 15px;
	color: #fff;
	line-height: 25px;
	border-radius: 1rem;
}

.content .content-item .container__skill-progress-bar {
	width: 0%;
	background-image: linear-gradient(142.17deg,#3086FF 6.66%,#304CFD 91.48%);
	position: relative;
	border-radius: 1rem;
	padding-left: 10px;
	/*transition: all 7s ease-in-out;*/
	position: relative;
	opacity: 0;
	display: flex;
	justify-content: space-between;
	transform: scaleX(0);
	transform-origin: left; /*//Hiện từ trái sang*/
	animation: animate 1s cubic-bezier(1, 0.5, 1.0, 1.0) forwards; /*//Animation hiện dần dần thanh progress-bar*/
	
}

.content .container__skill-progress-bar span {
	color: #fff;
	padding-right: 10px;
}

@keyframes animate {
	100%{
		transform: scale(1.0);
	}
}


		/*MỤC TIÊU*/
/*.content .content__list .target {
	margin-bottom: 15px;
}*/


		/*SỞ THÍCH*/
.content .content__list .content-item-sub-body {
	width: 100%;
	height: 135px;
	display: flex;
	background: linear-gradient(to top left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
	border-radius: 1rem;
	align-items: center;
	padding-left: 20px;
	box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
	margin-bottom: 20px;
}

.content .content__list .content-item-sub-body:hover {
	  transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 8px 12px rgb(0 0 0 / 30%);
}

.content .content-item-sub-body img {
	width: 170px;
	height: 100px;
	border-radius: 1rem;
}

.content .content-item-sub-body .content-item-body-text {
	padding-left: 30px;
	margin-top: -50px;
}

.content .content-item-sub-body .content-item-body-subtile {
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 10px;
}

.content-item-body-subtext {
	width: 100%;
}

.content__list .content-item-body-icon  {
	margin-top: -8px;
	width: 65px;
	height: 65px;
}

			/*slider*/

.content .content-item .slide {
		padding: 30px;
		background: linear-gradient( to right top, rgb(186, 245, 119), rgb(230, 121, 240) );
    border-radius: 25px;
    opacity: 0.8;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    height: 150px;
}

.content .content-item .slide__item {
	/*display: flex;*/
	display: none;
	box-sizing: border-box;
	margin-top: -5px;
}

.content .content-item .slide__item-avatar {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	object-fit: cover;
}

.content .content-item .slide__item-text-title {
	padding: 4px 0 15px 0;
	font-weight: bold;
}

.content .content-item .slide__item-text {
	padding-left: 20px;
}

.content .slide .prev, .next {
	background-color: #fff;
	width: 40px;
	height:  40px;
	text-decoration: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.content .slide .prev {
	margin-left: -50px;
	margin-top: -70px;
}

.content .slide .next {
	margin-left: 800px;
	margin-top: -40px;
}

/* định dạng các chấm chuyển đổi các slide */
.dots {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.dot {
  cursor:pointer;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  /*display: inline-block;*/
  transition: background-color 0.1s ease;
}
/* khi được hover, active đổi màu nền */
.dots .active, .dot:hover {
  background-color: #113CFC;
}

.dots .active {
	width: 35px;
	border-radius: 2rem;
}
 
/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
 
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}